<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.fether.triggr"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<!-- <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>  -->
    

    <application
        android:icon="@drawable/triggr_icon_72"
        android:logo="@drawable/triggr_icon_72"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="co.fether.triggr.PairingActivity"
            android:label="@string/app_name"
            android:windowBackground="@drawable/main_background">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service 
            android:name="co.fether.triggr.TriggrService" 
            android:label="Triggr Service"
            android:exported="false">
		    <intent-filter>
		        <action android:name="co.fether.triggr.TriggrService" />
		    </intent-filter>
		</service>
        
        <receiver android:name=".PhoneCallBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
		
		<receiver
		    android:name="co.fether.triggr.BootEventBroadcastReceiver"
		    android:enabled="true"
		    android:exported="true">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>
		</receiver>
    </application>
</manifest>