<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.fether.triggr"
    android:versionCode="9"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:icon="@drawable/launcher_icon"
        android:logo="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme">

        <activity
            android:name="co.fether.triggr.SplashScreenActivity"
            android:label="@string/app_name"
            android:windowBackground="@drawable/main_background"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.fether.triggr.PairingActivity"
            android:label="@string/app_name"
            android:windowBackground="@drawable/main_background"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name="co.fether.triggr.InstructionsActivity"
            android:label="@string/app_name"
            android:windowBackground="@drawable/main_background"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name="co.fether.triggr.SettingsActivity"
            android:label="@string/app_name"
            android:windowBackground="@drawable/main_background"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <service 
            android:name="co.fether.triggr.TriggrService"
            android:label="Triggr Service"
            android:launchMode="singleTop"
            android:exported="false">
		    <intent-filter>
		        <action android:name="co.fether.triggr.TriggrService" />
		    </intent-filter>
		</service>

        <service android:name="co.fether.triggr.TriggrNotificationListener"
                 android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>
        
        <receiver android:name="co.fether.triggr.PhoneCallBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <receiver android:name="co.fether.triggr.SMSBroadcastReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
		
		<receiver
		    android:name="co.fether.triggr.BootEventBroadcastReceiver"
		    android:enabled="true"
		    android:exported="true">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>
		</receiver>
		
		<receiver android:name="co.fether.triggr.OutgoingCallReceiver"
                  android:exported="true"
                  android:enabled="true">
	        <intent-filter>
	            <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
	        </intent-filter>
	    </receiver>
    </application>
</manifest>